doctype html
html(lang="ja")
   head
      meta(charset="utf-8")
      meta(name="twitter:widgets:csp" content="on")
      link(rel="stylesheet" href="style.css")
      script(type="text/javascript" src="require.js")
      script(type="text/javascript" src="popup.js")
      script(type="text/javascript" src="tweet.js")
      script(type="text/javascript" src="widgets.js")
   body
      ul#header
         li
            button#select_all_button select all
         li
            button#cancel_all_button cancel all
         li
            select.
               option(value="1") 
               option(value="2") Documents
         li
            button#save_button save

      hr
      div#main(style="height:400px;width:100%;overflow-y:scroll;overflow-x:hidden")
         
         li#image_data

      hr
      div#footer
         button#add_button +ADD

