body
        background-color: #b0c4de
        width: 400px
        max-height: 550px
#tab1
        margin: 0px 1px 0px 0px
        padding: 10px
        text-align: center
        text-decoration: none
        background-color:#f7fbfc
#tab2
        margin: 0px 1px 0px 0px
        padding: 10px
        text-align: center
        text-decoration: none
        background-color:#f0e68c
#main
        max-height: 480px
        width: 100%
        overflow-y: scroll
        overflow-x: hidden
        background-image:linear-gradient(#f7fbfc,#d9edf2,#add9e4)
#fav
        height: 480px
        width: 100%
        overflow-y: scroll
        overflow-x: hidden
        background-image:linear-gradient(#f0e68c,#ffd700)

#image_data
        list-style:none

#delete_button
        float: left
        width: 10px
        height: 10px

#image_data_left
        float:left
        max-width: 160px
        max-height: 160px

#header li
        list-style:none
        display:inline

#select_all_button
        font-size: large

#cancel_all_button

        font-size: large

#save_button
        font-size: large

#button
        font-size: large

#add_button
        color: #0
        font-size: x-large
#hr_end
        clear:both

#hr_mid
        color: ffa0a0
