body
	background-color: #800000
	width: 400px
	height: 500px

#image_data
	list-style:none

#delete_button
	float: right
	width: 10px
	height: 10px

#image_data_left
	float:left
	width: 150px

#header li
	list-style:none
	display:inline

#footer
	color: #0
	font-size: large
	font-style: italic
	text-align: center
	

#button
	font-size: large


#add_button
	color: #0
	font-size: x-large
#hr
	clear:both
