body
	background-color: #800000
	width: 400px
	height: 500px

#image_data
	list-style:none

#delete_button
	float: left
	width: 10px
	height: 10px

#image_data_left
	float:left
	width: 160px

#header li
	list-style:none
	display:inline

#footer
	color: #0
	font-size: large
	font-style: italic
	text-align: center
	

#select_all_button
	font-size: large

#cancel_all_button
        font-size: large
#save_button
        font-size: large
#button
        font-size: large


#add_button
	color: #0
	font-size: x-large
#hr_end
	clear:both

#hr_mid
	color: ffa0a0
