doctype html
html
  head
    title Demo
    meta(charset="UTF-8")
    link(rel="stylesheet" type="text/css" href="style.css")
    script(src="explosion.js")
  body
    canvas#field(
        width = 500
        height = 500
      )